In [91]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans

In [111]:
df = pd.read_csv("Age_Height_Data - Age_Height_Data (1).csv")
df.head()

   Age in Months  height in cm
0             18            76
1             19            77
2             20            78
3             21            78
4             22            79

In [112]:
kmeans = KMeans(n_clusters=3)

In [113]:
kmeans.fit(df.values)

KMeans(n_clusters=3)

In [114]:
kmeans.labels_

array([0, 0, 0, 0, 2, 2, 2, 1, 1, 1])

In [115]:
df["cluster"] = kmeans.labels_

In [116]:
df

   Age in Months  height in cm  cluster
0             18            76        0
1             19            77        0
2             20            78        0
3             21            78        0
4             22            79        2
5             23            80        2
6             24            80        2
7             25            81        1
8             26            82        1
9             27            82        1