In [2]:
import pandas as pd
import numpy as np

In [14]:
X=pd.read_excel("/Users/akashprasad763gmail.com/Downloads/K-Means_assignment Data.xlsx")
X.head()

   Age  cluster 1(6)  Cluster 2 (1)  cluster 3 (10)
0  5.0           NaN            NaN             NaN
1  6.0           NaN            NaN             NaN
2  7.0           NaN            NaN             NaN
3  8.0           NaN            NaN             NaN
4  9.0           NaN            NaN             NaN

In [15]:
X=X["Age"]

In [11]:
from sklearn.cluster import KMeans

In [12]:
kmeans=KMeans(n_clusters=3)

In [19]:
model=kmeans.fit(X)

In [18]:
X=np.array(X).reshape(-1,1)

In [20]:
model.cluster_centers_

array([[ 5.35714286],
       [60.75      ],
       [18.57142857]])

In [21]:
centroids

[6, 1, 10]

In [23]:
model.labels_

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 1,
       1, 1, 1], dtype=int32)

In [ ]:
X["clusters"]= model.labels_